.container {
    width: 330px;
    height: 550px;
    padding: 20px;
}

.row-1 {
    flex-direction: column-reverse;
    width: 340px;
}

.row-2 {
    display: flex;
    flex-direction: row;
}

.btns {
    flex-direction: column-reverse;
}

button {
    width: 71px;
    height: 50px;
    font-size: 18px;
}